@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,900,700italic,700,600italic,600,400italic);
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-size: 16px;
}

body {
  font-family: 'Titillium Web', cursive;
  margin: 0 auto;
  background-color: #05ABAA;
  background-attachment: fixed;
  color: #4C081B;
}

.container {
  max-width: 600px !important;
}

p {
  font-size: 1rem;
}

.section-wrapper:before {
  content: '';
  background-image: url("../images/design-elem-2.svg");
  background-position: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.design-elem {
  position: fixed;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 1;
}

.design-elem.left {
  left: 0;
  margin: 0 auto;
  top: 0;
  max-width: 100%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  content: url("../images/design-elem-1.svg");
}

.design-elem.right {
  right: 0;
  margin: 0 auto;
  bottom: 0;
  max-width: 100%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  content: url("../images/design-elem-3.svg");
}

section {
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh !important;
}

.ms-landing {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 2rem 2rem 2rem;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: perspective(50cm) rotateX(-5deg);
            transform: perspective(50cm) rotateX(-5deg);
  }
  50% {
    -webkit-transform: perspective(50cm) rotateX(0deg);
            transform: perspective(50cm) rotateX(0deg);
  }
  100% {
    -webkit-transform: perspective(50cm) rotateX(-5deg);
            transform: perspective(50cm) rotateX(-5deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: perspective(50cm) rotateX(-5deg);
            transform: perspective(50cm) rotateX(-5deg);
  }
  50% {
    -webkit-transform: perspective(50cm) rotateX(0deg);
            transform: perspective(50cm) rotateX(0deg);
  }
  100% {
    -webkit-transform: perspective(50cm) rotateX(-5deg);
            transform: perspective(50cm) rotateX(-5deg);
  }
}

.ms-landing img {
  -webkit-animation: swing 2s ease-in-out infinite;
          animation: swing 2s ease-in-out infinite;
  margin-top: -60px;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.ms-landing h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  margin: 0.75rem 0;
}

.ms-landing p {
  margin: 0;
  line-height: 1em;
}

.ms-landing p:nth-of-type(1) {
  font-size: 2rem;
}

.ms-landing p:nth-of-type(2) {
  font-size: 3.25rem;
  font-weight: bold;
}

.ms-bio {
  position: relative;
}

.ms-bio .ms-card {
  padding: 0;
}

.ms-bio .ms-card .hide {
  visibility: hidden;
}

.ms-bio .ms-card ul {
  padding-left: 0;
}

.ms-bio .ms-card ul li {
  list-style: none;
  font-size: 13px;
  min-height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.ms-bio .ms-card:nth-child(1) ul li {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.ms-bio .ms-card:nth-child(3) ul li {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.ms-bio .ms-card:nth-child(2) ul li:before {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.075;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  line-height: 1em;
}

.ms-bio .ms-card:nth-child(2) ul li:nth-child(1):before {
  content: 'NATIVE';
}

.ms-bio .ms-card:nth-child(2) ul li:nth-child(2):before {
  content: 'LANDMARK';
}

.ms-bio .ms-card:nth-child(2) ul li:nth-child(3):before {
  content: 'HOBBIES';
}

.ms-bio .ms-card:nth-child(2) ul li:nth-child(4):before {
  content: 'COUSIN LADDER';
}

.ms-bio .ms-card:nth-child(2) ul li:nth-child(5):before {
  content: 'PLAYLIST';
}

.ms-bio .ms-card:nth-child(2) ul li:nth-child(6):before {
  content: 'FAVOURITE STAR';
}

.ms-bio .ms-card:nth-child(2) ul li:nth-child(7):before {
  content: 'SURVIVAL SKILLS';
}

.ms-story p {
  font-size: 0.875rem;
}

.ms-story p.ms-title {
  font-size: 1.75rem;
}

.ms-event-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ms-event-details .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ms-event-details .row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ms-event-details .row p {
  font-size: 0.875rem;
  text-align: justify;
}

.ms-event-details .row img {
  width: 100px;
}

.ms-event-details .row i {
  font-size: 0.75rem;
}

.ms-event-details .row h2 {
  text-align: left;
}

.ms-event-details .row h2 span {
  font-family: 'Titillium Web', cursive;
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #4C081B;
  font-weight: 700;
}

.ms-name .name-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1rem;
}

.ms-name .name-wrapper span {
  font-family: 'Great Vibes', cursive;
  font-size: 5rem;
  line-height: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #F8076E;
}

.ms-name .name-wrapper span:nth-child(2) {
  font-size: 2.5rem;
  color: #ebb566;
  -webkit-transform: translate(75px, 70px);
          transform: translate(75px, 70px);
  position: absolute;
}

.ms-date .ms-title {
  font-size: 3rem;
}

.ms-date .invite-wrapper p {
  line-height: 1.5;
  text-transform: uppercase;
}

.ms-date .location-info span {
  padding: 10px;
}

.ms-date .location-info span img {
  width: 24px;
  margin-right: 10px;
}

.countdown-wrapper .countdown {
  font-size: 3rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.countdown-wrapper .countdown span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  color: #ebb566;
}

.countdown-wrapper .countdown span:not(:last-child):after {
  content: ':';
  position: absolute;
  right: -5px;
}

.countdown-wrapper .countdown-attributes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.countdown-wrapper .countdown-attributes span {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.ms-info p {
  line-height: 0.75em;
}

.ms-info p:nth-child(1) {
  font-size: 1.65rem;
}

.ms-info p:nth-child(2) {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #ebb566;
}

.ms-info p:nth-child(3) {
  font-size: 2.5rem;
}

.ms-info p:nth-child(4) {
  font-size: 3.65rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ebb566;
}

.ms-info p:nth-child(5) {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #ebb566;
}

.ms-countdown .ms-title {
  font-size: 4rem;
  color: #F8076E;
}

.ms-countdown h3 {
  font-weight: bold;
}

.ms-title {
  font-family: 'Great Vibes', cursive;
  color: #F8076E;
}

@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
  .ms-name .name-wrapper span:nth-child(2) {
    -webkit-transform: translate(120px, 110px);
            transform: translate(120px, 110px);
  }
}
/*# sourceMappingURL=stylesheet.css.map */